<html>
   <body>
      
      <form action = "/requestoAuth" method = "POST">
         <!--<span>User Name:</span> <input type = "text" name = "user_name"> <br>
         <span>Password :</span> <input type = "password" name = "password" > <br>-->
         <input type = "submit" value = "Login with Google">
      </form>
      
   </body>
</html>